node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

.idea/

shared/constants/config.js


native/node_modules/
native/shared/constants/config.js
native/.expo/packager-info.json

