.route {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 100vh;
}

.grid-layout {
    flex: 1; /* 100% height - nav + footer's set height */
    display: grid;
    grid-template-columns: 100%;
}
@media screen and (min-width: 549px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}

/* TODO set size in a constant */
@media screen and (min-width: 849px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

