.route {
    display: block;
    height: 100vh;
    font-size: 16px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}
/* TODO set size in a constant */
@media screen and (min-width: 399px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 25% 75%;
    }
}

